<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57173533528-cm8kf670o3lgevdueqri8c0q24ph6kub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57173533528-cm8kf670o3lgevdueqri8c0q24ph6kub</string>
	<key>API_KEY</key>
	<string>AIzaSyADgTCuabOS3R7F7B3ysAf5XgTDsQwb4CA</string>
	<key>GCM_SENDER_ID</key>
	<string>57173533528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-7accb</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-7accb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:57173533528:ios:bee88308ff9e92a2</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-7accb.firebaseio.com</string>
</dict>
</plist>
